In [1]:
%matplotlib inline
import pandas as pd
import numpy as np
import pylab as plt
# Set the global default size of matplotlib figures
plt.rc('figure', figsize=(10, 5))

# Size of matplotlib figures that contain subplots
fizsize_with_subplots = (10, 10)

# Size of matplotlib histogram bins
bin_size = 10

In [2]:
df = pd.read_csv('../data/housing.data.txt',delimiter=r"\s+",names =['crime_rate_by_town','residential_land','non-retail_business','river_dummy','nitric_oxides','avg_num_rooms','age','distance','accessibility_highways','tax','PTRATIO','blacks_pro_per_town','low_status','median_value_of_house'])

In [3]:
df.shape

(506, 14)

In [5]:
df.head()

,crime_rate_by_town,residential_land,non-retail_business,river_dummy,nitric_oxides,avg_num_rooms,age,distance,accessibility_highways,tax,PTRATIO,blacks_pro_per_town,low_status,median_value_of_house
0,0.00632,18,2.31,0,0.538,6.575,65.2,4.0900,1,296,15.3,396.90,4.98,24.0
1,0.02731,0,7.07,0,0.469,6.421,78.9,4.9671,2,242,17.8,396.90,9.14,21.6
2,0.02729,0,7.07,0,0.469,7.185,61.1,4.9671,2,242,17.8,392.83,4.03,34.7
3,0.03237,0,2.18,0,0.458,6.998,45.8,6.0622,3,222,18.7,394.63,2.94,33.4
4,0.06905,0,2.18,0,0.458,7.147,54.2,6.0622,3,222,18.7,396.90,5.33,36.2

In [8]:
df.dtypes

crime_rate_by_town        float64
residential_land          float64
non-retail_business       float64
river_dummy                 int64
nitric_oxides             float64
avg_num_rooms             float64
age                       float64
distance                  float64
accessibility_highways      int64
tax                       float64
PTRATIO                   float64
blacks_pro_per_town       float64
low_status                float64
median_value_of_house     float64
dtype: object

In [10]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 506 entries, 0 to 505
Data columns (total 14 columns):
crime_rate_by_town        506 non-null float64
residential_land          506 non-null float64
non-retail_business       506 non-null float64
river_dummy               506 non-null int64
nitric_oxides             506 non-null float64
avg_num_rooms             506 non-null float64
age                       506 non-null float64
distance                  506 non-null float64
accessibility_highways    506 non-null int64
tax                       506 non-null float64
PTRATIO                   506 non-null float64
blacks_pro_per_town       506 non-null float64
low_status                506 non-null float64
median_value_of_house     506 non-null float64
dtypes: float64(12), int64(2)
memory usage: 59.3 KB

In [11]:
df.describe()

,crime_rate_by_town,residential_land,non-retail_business,river_dummy,nitric_oxides,avg_num_rooms,age,distance,accessibility_highways,tax,PTRATIO,blacks_pro_per_town,low_status,median_value_of_house
count,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000
mean,3.613524,11.363636,11.136779,0.069170,0.554695,6.284634,68.574901,3.795043,9.549407,408.237154,18.455534,356.674032,12.653063,22.532806
std,8.601545,23.322453,6.860353,0.253994,0.115878,0.702617,28.148861,2.105710,8.707259,168.537116,2.164946,91.294864,7.141062,9.197104
min,0.006320,0.000000,0.460000,0.000000,0.385000,3.561000,2.900000,1.129600,1.000000,187.000000,12.600000,0.320000,1.730000,5.000000
25%,0.082045,0.000000,5.190000,0.000000,0.449000,5.885500,45.025000,2.100175,4.000000,279.000000,17.400000,375.377500,6.950000,17.025000
50%,0.256510,0.000000,9.690000,0.000000,0.538000,6.208500,77.500000,3.207450,5.000000,330.000000,19.050000,391.440000,11.360000,21.200000
75%,3.677082,12.500000,18.100000,0.000000,0.624000,6.623500,94.075000,5.188425,24.000000,666.000000,20.200000,396.225000,16.955000,25.000000
max,88.976200,100.000000,27.740000,1.000000,0.871000,8.780000,100.000000,12.126500,24.000000,711.000000,22.000000,396.900000,37.970000,50.000000

In [13]:
from sklearn.linear_model import LinearRegression

In [18]:
df.columns

Index([u'crime_rate_by_town', u'residential_land', u'non-retail_business',
       u'river_dummy', u'nitric_oxides', u'avg_num_rooms', u'age', u'distance',
       u'accessibility_highways', u'tax', u'PTRATIO', u'blacks_pro_per_town',
       u'low_status', u'median_value_of_house'],
      dtype='object')

In [25]:
target = df[u'median_value_of_house']
target

0      24.0
1      21.6
2      34.7
3      33.4
4      36.2
5      28.7
6      22.9
7      27.1
8      16.5
9      18.9
10     15.0
11     18.9
12     21.7
13     20.4
14     18.2
15     19.9
16     23.1
17     17.5
18     20.2
19     18.2
20     13.6
21     19.6
22     15.2
23     14.5
24     15.6
25     13.9
26     16.6
27     14.8
28     18.4
29     21.0
       ...
476    16.7
477    12.0
478    14.6
479    21.4
480    23.0
481    23.7
482    25.0
483    21.8
484    20.6
485    21.2
486    19.1
487    20.6
488    15.2
489     7.0
490     8.1
491    13.6
492    20.1
493    21.8
494    24.5
495    23.1
496    19.7
497    18.3
498    21.2
499    17.5
500    16.8
501    22.4
502    20.6
503    23.9
504    22.0
505    11.9
Name: median_value_of_house, dtype: float64

In [35]:
features = df.drop('median_value_of_house',axis =1)
features.columns

Index([u'crime_rate_by_town', u'residential_land', u'non-retail_business',
       u'river_dummy', u'nitric_oxides', u'avg_num_rooms', u'age', u'distance',
       u'accessibility_highways', u'tax', u'PTRATIO', u'blacks_pro_per_town',
       u'low_status'],
      dtype='object')

In [28]:
df.columns

Index([u'crime_rate_by_town', u'residential_land', u'non-retail_business',
       u'river_dummy', u'nitric_oxides', u'avg_num_rooms', u'age', u'distance',
       u'accessibility_highways', u'tax', u'PTRATIO', u'blacks_pro_per_town',
       u'low_status', u'median_value_of_house'],
      dtype='object')

In [52]:
from sklearn.cross_validation import train_test_split
X_train, X_test, y_train, y_test = train_test_split(features, target, train_size=0.8)

In [53]:
model = LinearRegression()

In [54]:
model.fit(X_train, y_train)
print "Train R2 %f"%model.score(X_train,y_train)
print "Test R2 %f"%model.score(X_test,y_test)

Train R2 0.736851
Test R2 0.729008